﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bem vindo @ViewBag.Campaign.RecipientEmail</h2>
<br/>
<h4>CampaignID: @ViewBag.Campaign.CampaignID</h4>
<h4>ChannelID: @ViewBag.Campaign.ChannelID</h4>
<h4>RecipientEmail: @ViewBag.Campaign.RecipientEmail</h4>
<h4>HadAccess: @ViewBag.Campaign.HadAccess</h4>
<h4>LinkTemplate: @ViewBag.Campaign.LinkTemplate</h4>
<h4>Link: @ViewBag.Campaign.Link</h4>